.films {
  header {
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: 2;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 100px;

      ul li,
      a {
        display: inline-flex;
        list-style-type: none;
        color: white;
        margin-left: 40px;
        text-decoration: none;
        font-size: 14px;
      }

      .li {
        font-weight: 600;
        transform: scale(1.2, 1.2);

        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }

  main {
    img {
      height: 100vh;
      width: 100%;
      position: relative;
    }

    .overlay {
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 170px 200px;
      overflow: scroll;

      .container {
        display: flex;
        flex-direction: column-reverse;
        img {
          width: 550px;
          height: 350px;
          border-radius: 20px;
        }

        .list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 50px 0;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .box {
            height: 300px;
            padding: 0 100px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: white;

            .title {
              font-size: 35px;
              font-weight: 500;
              margin-bottom: 10px;
            }

            .release-date {
              margin-bottom: 20px;
            }

            .original-title {
              margin-bottom: 10px;
            }

            .description {
              width: 550px;
              max-height: 98px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
}
