.home {
  overflow: hidden;

  header {
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: 3;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 100px;

      ul li,
      a {
        display: inline-flex;
        list-style-type: none;
        color: white;
        margin-left: 40px;
        text-decoration: none;
        font-size: 14px;
      }

      .li {
        font-weight: 600;
        transform: scale(1.2, 1.2);
        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }

  main {
    img {
      height: 100vh;
      width: 100%;
      position: relative;
    }

    .overlay {
      overflow: hidden;
      position: absolute;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.4);
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
    }

    video {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      width: 115%;
      opacity: 0.4;
      overflow: hidden;
    }
  }
}
